body {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #8125f1;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

h1, h2, h3, h4 {
  color: #00ffcc;
}

h1 {
  text-shadow: 1px 1px 10px;
}

h4 {
  font-weight: normal;
}

img {
  border-radius: 50%;
  margin-top: 20px;
  border: 5px solid #8125f1;
  filter: brightness(80%) saturate(120%);
  transition: transform 0.5s ease-in-out;
}

img:hover {
  transform: rotate(360deg);
}

#redes {
  margin: 20px 0;
  display: flex;
}

#redes div {
  margin-right: 10px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: left;
}

th, td {
  color: #00ffcc;
  border: 1px solid #00ffcc;
  padding: 12px;
}

th {
  background-color: #121212;
}

tr:hover {
  background-color: #2c2c2c;
}

#formulario {
  margin-top: 20px;
  background-color: #121212;
  padding: 20px;
  border-radius: 10px;
}

/* Estilos para el formulario */
form {
  display: flex;
  flex-direction: column;
}

label {
  color: #00ffcc;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #00ffcc;
  color: #121212;
  cursor: pointer;
}

input:focus,
textarea:focus {
  border: 2px solid #8125f1;
}
